@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soundless</h1>
    <div class="form-border login-form">
        <form>
            <label for="fname">Username:</label>
            <input type="text" id="fname" name="fname" /><br>
            <label for="lname">Password:</label>
            <input type="text" id="lname" name="lname" /><br/>
            <input type="submit" id="submitLoginForm" name="login" />
        </form>
    </div>
    <div>If you do not have an account with us, create one <a href="_SignUp.cshtml">here</a></div>
</div>
